.ztm__image{
    margin-left: 606px;
    margin-top: 1px;
}
section{
    background-color: #fcfcfc;
    padding: 32px 0;
}
*{
    margin: 0%;
    padding: 0%;
}
.login__div{
    background-color: white;
    padding: 0 40px;
    width: 328px;
    height: 401px;
    margin-left: 490px;
    border: 1px solid #dfd2d2;
}
h1{
    line-height: 2.703rem;
    font-weight: 600;
    text-align: center;
    font-size: 1.82rem;
    margin: 32px 0;
}
body{
    font-family: inherit;
}
.email__heading{
    font-size: 16px;
    color: #9a9baa;
    font-weight: 100;
}
input{
    border: 1px solid #dfd2d2;
    border-radius: 7px;
    margin-bottom: 24px;
    padding: 4px 24px 4px 8px;
    width: 89%;
    height: 6%;
}
.image__div{
    display: flex;
}
.remember__image{
    font-size: 13px;
    color: #222222;
    font-weight: 100;
    margin-top: 3px;
}
.forgot__link{
    font-size: 13px;
    text-decoration: none;
    color: #32DD88;
    margin-left: 135px;
    margin-top: 4px;
}
.forgot__link:hover{
    color: #9a9baa;
}
button{
    background-color: #32DD88;
    padding: 3px 18px;
    border: 1px solid #32DD88;
    margin: 16px 0;
    font-size: 16px;
    height: 56px;
    border-radius: 38px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    width: 100%;
}
button:hover{
    background-color: #25c776;
}
.zero__paragraph{
    font-size: 16px;
    background-color: #fff;
    padding: 39px 0 42px 0;
    color: #BAC1C7;
    text-align: center;
}
.courseone{
    padding: 30px;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(19 15 235 / 10%) 1px 2px 20px;
    width: 363px;
    margin-right: 30px;
}
.coursetwo{
    padding: 30px;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(19 15 235 / 10%) 1px 2px 20px;
    width: 363px;
    margin-right: 30px;
}
.coursethree{
    padding: 30px;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(19 15 235 / 10%) 1px 2px 20px;
    width: 363px;
}
.brittney__postma{
    padding: 120px 50px;
    display: flex;
    justify-content: space-around;
}
.course__paragraph{
    font-family: Barlow, sans-serif;
    font-weight: 700;
    font-size: 27px;
    line-height: 32px;
    color: rgb(0, 0, 0);
    width: 102%;
    font-family: Barlow, sans-serif;
    margin-top: 20px;
}
.brittneypostma__heading{
    font-size: 22px;
    color: #000000;
    font-weight: 600;
}
.line__div{
    height: 3px;
    width: 25px;
    border-radius: 10px;
    margin: 92px 0px 25px;
    background-color: rgb(76, 15, 251);
}
.line__divone{
    height: 3px;
    width: 25px;
    border-radius: 10px;
    margin: 161px 0px 25px;
    background-color: rgb(76, 15, 251);
}
.girl__image{
    border-radius: 110px;
    width: 100px;
    height: 100px;
    margin-top: -76px;
}
.unknown__image{
    border-radius: 110px;
    width: 131px;
    height: 129px;
    margin-top: -93px;
}




























@media screen and (max-width:767px) {
    .ztm__image{
         margin-left: 39rem;
    }
    .login__div{
         border: none;
    }
    h1{
        margin: -14px 21px 33px 0;
    }
    .zero__paragraph{
        margin-left: 490px;
        width: 100%;
        margin-top: 19rem;
        font-size: 16px;
    }
    .courseone{
        width: 100%;
    }
    .coursetwo{
        width: 28%;
        padding: 0 251px 10px 31px;
    }
    .brittney__postma{
        display: flex;
        flex-direction: row;
    }
    .course__paragraph{
        width: 362%;
    }
    .girl__image{
        width: 100px;
        margin-top: -57px;
    }
    .brittneypostma__heading{
        width: 166%;
        margin-bottom: 20px;
    }
}